* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    color: var(--white);
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    /* theme colors */
    --white: #fff;
    --black: #1d1d1d;
    --yellow: #FFDB00;
    --butter: #FFFF80;
    --sea-blue: #97FEED;
    --dark-blue: #060047;
    --light-text: #ffffffab;

    /* custom font size */
    --h1-font: 3.5rem;
    --h2-font: 2.7rem;
    --p-font: 1rem;
}

body {
    background: var(--black);
}

/* header section */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 20px 5%;
    transition: all ease 0.5s;
}

header .logo {
    font-size: 26px;
    font-weight: 600;
}

header .logo span {
    color: var(--yellow);
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header ul li a {
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 25px;
    transition: all ease 0.4s;
}

header ul li a:hover {
    color: var(--yellow);
}

header a.download {
    font-weight: 600;
    display: inline-block;
    padding: 7px 20px;
    border: 2px solid var(--white);
    border-radius: 10px;
    transition: all ease 0.5s;

}

header a.download:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
    border: 2px solid var(--yellow);
    font-weight: 700;
    transform: translateX(5px);
}

header.sticky {
    padding: 15px 10%;
    background: transparent;
    backdrop-filter: blur(40px);
}

/* general */
section {
    padding: 120px 10% 100px;
}

.btn {
    display: inline-block;
    padding: 16px 45px;
    background: var(--yellow);
    color: var(--dark-blue);
    font-size: var(--p-font);
    font-weight: 600;
    border: 2px solid var(--yellow);
    transition: all ease 0.5s;
}

.btn:hover {
    transform: translateX(5px);
    background: transparent;
    border: 2px solid var(--yellow);
    color: var(--white);
    border-radius: 15px;
}

/* Home Section */
.hero{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(./images/img-right.png);
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 3rem;
    align-items: center;
}

.hero-text h3{
    font-family: poppins, sans-serif;
    color: var(--yellow);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    word-spacing: 10px;
}

.hero-text h1 {
    font-family: poppins, sans-serif;
    font-size: var(--h1-font);
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.hero-text h4 {
    font-size: 1.1rem;
    font-weight: 600;
    word-spacing: 10px;
    margin-bottom: 4rem;
}

.hero-img {
    width: 100%;
    height: auto;
}

/* about section */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 3rem;
}

.about-img img {
    width: 100%;
    height: auto;
}

.about-text h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}

.about-text h5 {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.about-text h5 span {
    color: var(--yellow);
}

.about-text p {
    color: #ffffffab;
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}

/* skills section */
.skills {
    background: url(./images/img-right.png);
}

.skill-text {
    text-align: center;
}

.skill-text h2 {
    font-family: poppins, sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.skill-text h4 {
    font-family: poppins, sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.skill-item, .item-version {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, auto));
     align-items: center;
     gap: 2rem;
     text-align: center;
     margin-top: 4rem;
}

.skill-box {
    padding: 30px 15px;
    background: var(--yellow);
    border-radius: 0.8rem;
    border: 1px solid transparent;
    cursor: pointer;transition: all ease 0.5s;
}

.skill-box:hover {
    transform: scale(0.9);
}

.skill-box i {
    font-size: 50px;
    color: var(--dark-blue);
    margin-bottom: 10px;
}

.skill-box h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    color: var(--dark-blue);
}

.item-version {
    margin-top: 5rem;
}

/* projects section */
.center-text {
    text-align: center;
}
  
.center-text h2 {
    font-size: var(--h2-font);
    font-weight: 800;
}

.project-content {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.project-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all 0.5s cubic-bezier(0.499, 0.05, 0.55, 0.95);
    will-change: filter;
    display: block;
}

.project-box a {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.project-box img:hover {
    filter: brightness(100%) hue-rotate(10deg);
    transform: scale(1.05);
    cursor: pointer;
}

/* contact section */
.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 5rem;
}

.left-contact {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.in i {
    color: var(--butter);
    font-size: 110px;    
    margin-bottom: 10px;
    transition: all ease 0.3s;
}

.in i:hover {
    color: var(--yellow);
    cursor: pointer;
}

.in h4 {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
}

.right-contact h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 5px;
}

.right-contact a {
    display: inline-block;
    color: var(--yellow);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--yellow);
    padding: 3px 0;
    transition: all ease 0.5s;
}

.right-contact a:hover {
    transform: translateY(-5px);
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

.right-contact p {
    color: #ffffffab;
    font-size: var(--p-font);
    line-height: 25px;
}

/* Newsletter Section */
.newsletter {
    background: #2b2b2b;
    background-size: cover;
    background-position-y: 55%;
}

.newsletter-content {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    align-items: center;
    gap: 2rem;
}

.newsletter-text h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}

.newsletter-text p {
    font-size: var(--p-font);
    font-weight: 500;
    color: #ffffffab;
}

.newsletter-content form {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}

.newsletter-content form input:first-child {
    padding: 15px;
    background-color: #202020;
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 7px;
}

/* footer section */
.footer {
    padding: 80px 15% 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer p {
    color: #ffffffab;
    font-size: var(--p-font);
    line-height: 25px;
    margin-bottom: 20px;
}

.footer .foot-icon i {
    height: 50px;
    width: 50px;
    background: var(--yellow);
    color:  var(--dark-blue);
    border: 2px solid var(--yellow);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 10px;
    transition: all ease 0.5s;
}

.footer i:hover{
    transform: translateY(-5px);
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}

/* scroll btn */
.scroll-btn i{
    position: fixed;
    right: 2.2rem;
    bottom: 2.2rem;
    color: var(--dark-blue);
    background: var(--yellow);
    font-size: 25px;
    font-weight: 800;
    padding: 9px;
    border-radius: 0.8rem;
}

/* Copyright Section */
.copyright p {
    text-align: center;
    padding: 20px;
    color: #979797;
    font-size: 15px;
  }
  